
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*.csv
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
**school_project_credentials.json
week_1/terraform/school_project_credentials.txt
week_2/data_ingest/postgres_db/
week_2/data_ingest_gcp/postgres_db/
gcloud/gcs_gbq.json
week_2/terraform/gcs_gbq_credentials.json
week_2/data_ingest/gcs_gbq_credentials.json